@model BOL.tbl_RESSOURCE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_RESSOURCE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qteDisponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qteDisponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qteNecessaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qteNecessaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_COLLECTIVITE_TERRITORIALE.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_COLLECTIVITE_TERRITORIALE.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_RESSOURCE_TYPE.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_RESSOURCE_TYPE.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
