@model IEnumerable<BOL.tbl_REPONSE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.js"></script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste Réponses</h3>
                    @if (TempData["Msg"] != null)
                    {<div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4>
                            @TempData["Msg"].ToString()
                        </h4>
                    </div>

                    }
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Ajouter Réponses", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.heureDecision)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.heureImpactEffectif)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.heureImpactEspere)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbl_TYPE_REPONSE.nom)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.heureDecision)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.heureImpactEffectif)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.heureImpactEspere)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbl_TYPE_REPONSE.nom)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>