@model BOL.tbl_RESSOURCES_AFFECTEES

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_RESSOURCES_AFFECTEES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.qteAffectee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qteAffectee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_EVENEMENT_TYPE_DEGAT.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_EVENEMENT_TYPE_DEGAT.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_REPONSE.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_REPONSE.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_RESSOURCE.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_RESSOURCE.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
