@model BOL.tbl_ACCESSIBILITE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Détails</h3>
                </div>
                <div class="box-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StartDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.tbl_COLLECTIVITE_TERRITORIALE.id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbl_COLLECTIVITE_TERRITORIALE.id)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.tbl_MOYEN_ACCES.moyen)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbl_MOYEN_ACCES.moyen)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.tbl_NIVEAU_ACCES.nom)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbl_NIVEAU_ACCES.nom)
                            </dd>
                  </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editer", "Edit", new { id = Model.id }) |
                        @Html.ActionLink("Retourner à la liste", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>