@model BOL.tbl_COU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_COU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastCloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastCloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activationMotif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activationMotif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastActiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastActiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_COLLECTIVITE_TERRITORIALE.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_COLLECTIVITE_TERRITORIALE.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_USER.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_USER.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_USER1.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_USER1.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
